body {
  border: 0 200px 500px 200px;
  margin: 0;
}

#flag {
  border: black solid;
  margin: 0 400px 400px 400px;
  padding: 0 200px 200px 200px;
}

#stripe-top {
  background-color: rgb(47, 146, 47);
  border: black solid;
  margin: 0px 40px 30px 40px;
  padding: 90px;
}
