html {
  background-image: url(../img/image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: white;
  margin-top: 300px;
  margin-bottom: 40px;
}
a {
  color: white;
  background-color: orangered;
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  text-decoration: none;
}
