.upper-nav {
  background-color: yellow;
}

.busqueda {
  width: 475px;
  margin: auto;
  filter: opacity(0.8);
  padding: 18px 0;
  border-radius: 3px;
}
.col-3 {
  width: 30%;
  padding-left: 15px;
  color: aliceblue;
}
.background {
  background-image: url(../img/playa.jpg);
  height: 200px;
  width: 100.9%;
}
.button {
  background-color: yellow;
  border-radius: 0px 5px 5px 0px;
  width: 97px;
}
.form-control {
  width: 330px;
  border-radius: 5px 0px 0px 5px;
}
.places {
  height: 200px;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
  font-size: 12px;
}
.photos {
  width: 200px;
}
p {
  width: 200px;
}
.three-places {
  width: 200px;
}
.comprar {
  background-color: yellow;
  width: 180px;
  font-size: 12px;
}
.search {
  display: inline;
  float: left;
}
.cart {
  height: 18px;
}
.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 160px;
  height: 40px;
}
